<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-fab top right edge>
      <button ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <h3>Todo</h3>

 <ion-list>
   <ion-item>
    <ion-label color="primary" fixed>New</ion-label>
    <ion-input type="text" placeholder="Task" [(ngModel)]="newTask"></ion-input>
    <button ion-button clear item-end (click)="addTask()">add</button>
  </ion-item>

   <ion-item *ngFor="let task of tasks">
     <h2>{{task.name}}</h2>
     <button ion-button item-end outline (click)="removeTask(task.$key)">done?</button>
   </ion-item>

   <ion-item *ngIf="!tasks.length">
     <h2>No Tasks</h2>
   </ion-item>
 </ion-list>

</ion-content>
